body {
  font-family: "Segoe UI", "Frutiger", "Helvetica", "Arial", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  color: #00196b;
}

h2 {
  border-bottom: 1px solid #4e81c0;
  padding-bottom: 2px;
}

/* Make the table in Sunset Colours RA more readable by separating the columns
   For some reason this did not work until I added the "!important" */
th, td {
  padding-right: 30px !important;
  text-align: left;
}